$primary: #DA071F;
$black: #000;
$gray: #535556;
$lightGray: #9C9C9B;
$white: #fff;
$darkGray: #0E0D0D;
$font-stack-heading: 'Roboto',
sans-serif;
$font-stack-body: 'Open Sans',
sans-serif;
;

$family-sans-serif: $font-stack-body;
$section-padding: 10px;
