@import "../styles/bulma";
// @import "~bulma/sass/base";
// @import "~bulma/sass/components/container";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

body {
  padding: 20px;
  background: $white;
  height: 100vh;

  &::before,
  &::after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #fff;
    z-index: 1000;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-heading;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 14px;
  line-height: 1.43;
  color: $lightGray;
  margin: 0;
  padding: 0;

  +p {
    margin-top: 0.75em;
  }

  &.highlight {
    color: $primary;
  }

  &.small {
    font-size: 10px;
  }

  &.opening-paragraph {
    font-size: 18px;
    color: $white;
  }

  &.subtitle {
    font-family: $font-stack-heading;
    font-weight: 100;
  }
}

.columns {
  width: 100%;
}

.page-layout {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: fixed;
    width: 20px;
    height: 100%;
    top: 0;
    background: white;
    z-index: 11000;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
